.gallery__inner {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
}

@media (max-width: 1024px) {
    .gallery__inner {
        gap: 14px;
    }
}

@media (max-width: 768px) {
    .gallery__inner {
        gap: 16px;
    }
}

@media (max-width: 425px) {
    .gallery__inner {
        gap: 16px 0;
    }
}